Package: libra-setup
Version: 1.0-1
Architecture: arm64
Maintainer: Riley Hernandez <riley@caldo.tech>
Section: misc
Priority: optional
Depends: libssl-dev, libphidget22, curl
Description: This package installs Phidget22 libraries and sets up udev rules and symbolic links.
