[Unit]
Description=Libra Process
After=network.target
Requires=network-online.target

[Service]
ExecStart=/usr/local/bin/big-brother
Type=simple
User=libra
Group=libra
Restart=always
RestartSec=3
ProtectSystem=full

[Install]
WantedBy=multi-user.target